body {
    background-color: #ffffff;
    color: #000000;
}

button {
    background-color: #e5e6e8;
    border: 1px solid #525f69;
    border-radius: 5px;

    padding: 5px 10px;

    font-weight: 500;
    font-size: 16px;

    color: white;
}

button:hover {
    background-color: #e1edff;
}

/* #0098ff */

h1 {
    font-family: sans-serif;
}